@use 'assets/variables';
@use 'parts/header';
@use 'parts/main';
@use 'parts/setMenu';
@use 'assets/typography';

body{
    margin:0;
    background-color: var(--blue-100);
    font-family: var(--ff-text);
}