@font-face {
    font-family: Bebas;
    src: url(/fonts/BebasNeue-Regular.ttf) format('truetype');
}
@font-face {
    font-family: OpenSans;
    src: url(/fonts/OpenSans-VariableFont_wdth,wght.ttf) format('truetype');
}
@font-face {
    font-family: Coolveticacond;
    src: url(/fonts/Coolvetica_Rg_Cond.otf) format('truetype');
} 
@font-face {
    font-family: Coolveticacram;
    src: url(/fonts/Coolvetica_Rg_Cram.otf) format('truetype');
} 